@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-heading: var(--font-sans);
    --font-sans: 'Geist Variable', sans-serif;
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
}

:root {
    --background: oklch(0.9383 0.0042 236.4993);
    --foreground: oklch(0.3211 0 0);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.3211 0 0);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.3211 0 0);
    --primary: oklch(0.6397 0.1720 36.4421);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.9670 0.0029 264.5419);
    --secondary-foreground: oklch(0.4461 0.0263 256.8018);
    --muted: oklch(0.9846 0.0017 247.8389);
    --muted-foreground: oklch(0.5510 0.0234 264.3637);
    --accent: oklch(0.9119 0.0222 243.8174);
    --accent-foreground: oklch(0.3791 0.1378 265.5222);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --border: oklch(0.9022 0.0052 247.8822);
    --input: oklch(0.9700 0.0029 264.5420);
    --ring: oklch(0.6397 0.1720 36.4421);
    --chart-1: oklch(0.7156 0.0605 248.6845);
    --chart-2: oklch(0.7875 0.0917 35.9616);
    --chart-3: oklch(0.5778 0.0759 254.1573);
    --chart-4: oklch(0.5016 0.0849 259.4902);
    --chart-5: oklch(0.4241 0.0952 264.0306);
    --radius: 0.625rem;
    --sidebar: oklch(0.9030 0.0046 258.3257);
    --sidebar-foreground: oklch(0.3211 0 0);
    --sidebar-primary: oklch(0.6397 0.1720 36.4421);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.9119 0.0222 243.8174);
    --sidebar-accent-foreground: oklch(0.3791 0.1378 265.5222);
    --sidebar-border: oklch(0.9276 0.0058 264.5313);
    --sidebar-ring: oklch(0.6397 0.1720 36.4421);
}

.dark {
    --background: oklch(0.2925 0.0157 264.3);
    --foreground: oklch(0.7621 0.0202 263.0);
    --card: oklch(0.2630 0.0127 258.4);
    --card-foreground: oklch(0.7621 0.0202 263.0);
    --popover: oklch(0.2630 0.0127 258.4);
    --popover-foreground: oklch(0.7621 0.0202 263.0);
    --primary: oklch(0.7304 0.1213 245.3);
    --primary-foreground: oklch(0.2925 0.0157 264.3);
    --secondary: oklch(0.2630 0.0127 258.4);
    --secondary-foreground: oklch(0.7621 0.0202 263.0);
    --muted: oklch(0.2630 0.0127 258.4);
    --muted-foreground: oklch(0.4983 0.0225 262.9);
    --accent: oklch(0.3121 0.0176 262.2);
    --accent-foreground: oklch(0.7621 0.0202 263.0);
    --destructive: oklch(0.6709 0.1448 17.0);
    --destructive-foreground: oklch(0.2925 0.0157 264.3);
    --border: oklch(0.3863 0.0235 265.7);
    --input: oklch(0.3863 0.0235 265.7);
    --ring: oklch(0.7304 0.1213 245.3);
    --chart-1: oklch(0.7304 0.1213 245.3);
    --chart-2: oklch(0.7683 0.1103 133.0);
    --chart-3: oklch(0.8249 0.0970 82.3);
    --chart-4: oklch(0.6709 0.1448 17.0);
    --chart-5: oklch(0.6936 0.1635 318.2);
    --sidebar: oklch(0.2630 0.0127 258.4);
    --sidebar-foreground: oklch(0.7621 0.0202 263.0);
    --sidebar-primary: oklch(0.7304 0.1213 245.3);
    --sidebar-primary-foreground: oklch(0.2925 0.0157 264.3);
    --sidebar-accent: oklch(0.3121 0.0176 262.2);
    --sidebar-accent-foreground: oklch(0.7621 0.0202 263.0);
    --sidebar-border: oklch(0.3863 0.0235 265.7);
    --sidebar-ring: oklch(0.7304 0.1213 245.3);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
}